.bg-step-1 {
  @apply bg-green-300;
  transition: 1s;
}

.bg-step-2 {
  @apply bg-green-400;
  transition: 1s;
}

.bg-step-3 {
  @apply bg-emerald-400;
  transition: 1s;
}

.bg-step-4 {
  @apply bg-teal-400;
  transition: 1s;
}

.bg-step-5 {
  @apply bg-cyan-400;
  transition: 1s;
}
